// @import url("https://github.com/necolas/normalize.css/blob/master/normalize.css");
@import url("https://meyerweb.com/eric/tools/css/reset/reset200802.css");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dela+Gothic+One&family=Noto+Sans+TC:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Noto Sans TC, sans-serif;
  // outline: solid 0.3px black !important;
}
a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  background-color: #fafafa;
}

.wrap {
  max-width: 1200;
  margin: 0 auto;
  background-color: #fbfbfb;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 1rem 0;
  .navbar-link {
    color: #000;
    font-weight: 600;
    font-size: larger;
  }
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-bottom: 1px solid black;
  .banner-area {
    flex: 1;
  }
  .banner-img {
    width: 100%;
    min-width: 350px;
    height: auto;
    display: block;
  }

  .banner-right {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section2.png");
    display: flex;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  .banner-text {
    color: #0027d5;
    // padding-left: 25px;
    margin-bottom: 20px;
    width: 300px;
    text-align: right;
    //--------------------
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .banner-text h1 {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .banner-text p {
    font-size: 18px;
    font-weight: 600;
  }
}

.card {
  max-width: calc(33.3333% - 16px);
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .card-date {
    font-size: small;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-tag {
    color: #0027d5;
    font-weight: 500;
  }
  .hot {
    width: 32%;
    border-radius: 999px;
    padding: 1.5%;
    font-size: xx-small;
    text-align: center;
    background-color: #0027d5;
    color: white;
  }
  .card-content {
    flex: 1;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      letter-spacing: 0.5px;
      line-height: 1.6rem;
    }
    .card-description {
      font-size: x-small;
      color: #575353;
      line-height: 1rem;
      margin-bottom: 1rem;
    }
    .card-btn {
      display: block;
      width: 32%;
      border-radius: 999px;
      color: #575353;
      border: 1px solid black;

      font-size: medium;
      padding: 3%;
      text-align: center;
    }
  }
}

.HeroSection {
  display: flex;
  flex-wrap: wrap;
  .HeroSection-area {
    flex: 1;
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      min-width: 300px; // 加這一行可以避免太小
    }
    .card {
      min-width: 405px;
      margin-top: 22%;
      margin-left: 3%;
      .card-description {
        color: #000;
      }
    }
  }
}

.card-section {
  border-top: #000 1px solid;
  width: 100%;
  height: auto;
  padding: 6% 5%;
}
//searchBar
.search-container {
  // width: 100%;
  position: relative;
  margin-bottom: 2rem;

  .search-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    pointer-events: none;
  }
  .search-input {
    border: 1px solid #000;
    border-radius: 999px;
    width: 355px;
    padding: 10px 0px 10px 30px;
  }
}
//card
.card-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

//Pagination
.Pagination-wrap {
  margin: 0 auto;
  width: 250px;
  border-radius: 999px;
  background-color: #fff;
  padding: 10px 3px;
}
//Pagination
.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;

  .page-link {
    font-size: medium;
    color: #000;
  }
  .active,
  .page-link:active,
  .page-link:hover,
  .footer-link:hover,
  .navbar-link:hover {
    color: #0027d5;
  }
}

//Footer
footer {
  border-top: #000 1px solid;
}

.footer-content {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  .footer-email {
    font-size: larger;
  }
  .footer-link {
    gap: 10px;
  }
}
.footer-copyright {
  background-color: #fff;
  text-align: center;
  color: black;
  font-size: smaller;
  padding: 1rem 0px;
}

@media (max-width: 768px) {
  .banner {
    .banner-text {
      text-align: left;
      width: auto;
      padding: 4%;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 30px;
      }
    }
  }

  .card-section {
    padding-top: 20%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    //---------
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-wrap {
    flex: row;
    justify-content: center;
    .card {
      margin-bottom: 5%;
    }
  }

  .search-container {
    padding-left: 1%;
    padding-right: 1%;
  }
  .HeroSection {
    margin-bottom: 5%;
  }
  .HeroSection-area:nth-child(2) .card,
  .card-wrap .card {
    width: 100%;
    min-width: 355px;
    display: flex;
    justify-content: center;
    .card-title {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    .card-tag {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
    .card-description {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.1px;
      line-height: 1.5rem;
    }
  }

  .HeroSection-area:nth-child(2) .card {
    margin: 5% auto;
  }
  .Pagination-wrap {
    margin: 5% auto 10%;
  }
  .footer-content {
    display: none;
  }
  .footer-copyright {
    padding-top: 10%;
    padding-bottom: 10%;
    font-weight: 600;
  }
}
